/*
Estilos de la cabecera
*/

#contenedor{
    /*Anchor*/
    width: 90%;
    /*Margen centrado*/
    margin: 0px auto;
    /*Sombra*/
    box-shadow: 0px 0px 10px gray;
    /*Color de fondo*/
    background: white;
}

/*
Estilos generales
*/

*{
    /*Margen interior*/
    padding: 0px;
    /*Margen exterior*/
    margin: 0px;
    /*Tipo de letra*/
    font-family: sans-serif, Arial, Helvetica;
}

/*
Estilos del body
*/

body{
    /*Color de fondo*/
    background: #01b1ea;
}

/*
Enlaces de toda la web
*/

a{
    /*Color del texto*/
    color: #01b1ea;
}

/*
Enlaces visitados de toda la web
*/

a:visited{
    /*Color del texto*/
    color: #01b1ea;
}

/*
Al posicionarse encima de un enlace de la web
*/

a:hover{
    /*Color del texto*/
    color: #555;
}

/*
Estilo del titulo de la tienda
*/

#titulo{
    /*Margen interior*/
    padding: 20px;
    /*Margen izquierdo*/
    margin-left: 40px;
    /*Flotar hacia la izquierda*/
    float: left;
}

/*
Estilo del logotipo principal de la tienda
*/

#titulo img{
    /*Altura*/
    height: 125px;
    /*Flotar hacia la izquierda*/
    float: left;
}

/*
Estilo del titulo principal de la tienda
*/

#titulo h1{
    /*Flotar hacia la izquierda*/
    float: left;
    /*Tamaño de la fuente del texto*/
    font-size: 35px;
    /*Espacio entre cada letra*/
    letter-spacing: 3px;
    /*Tipo de letra*/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    /*Convertir letra a mayusculas*/
    text-transform: uppercase;
    /*Color de letra*/
    color: #01b1ea;
    /*Texto en negrita*/
    font-weight: bold;
    /*Margen superior*/
    margin-top: 22px;
    /*Margen izquierdo*/
    margin-left: 40px;
    /*Sombra del texto*/
    text-shadow: 0px 2px 1px #222222;
    /*Transicion*/
    transition: all 300ms;
}

/*
Estilo del buscador
*/

#buscador{
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen superior*/
    margin-top: 33px;
    /*Margen izquierdo*/
    margin-left: 20px;
}

/*
Estilo del campo del buscador
*/

#buscador input{
    /*Anchor*/
   width: 150px;
}

/*
Estilo del logo de la lupa del buscador
*/

#buscador img{
    /*Altura*/
    height: 20px;
}

/*
Estilo al posicionarse en el titulo principal
*/

#titulo h1:hover{
    /*Sombra del texto*/
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01b1ea;
}

/*
Estilo de las opciones del menu principal
*/

#menuPrincipal{
    /*Flotar hacia la izquierda*/
    float: left;
    /*Color de letra*/
    color: #01b1ea;
    /*Altura*/
    height: 70px;
    /*Margen superior*/
    margin-top: 45px;
}

/*
Estilos de la foto de usuario en el menu principal
*/

#menuPrincipal img{
    /*Margen derecho*/
    margin-right: 5px;
    /*Altura*/
    height: 20px;
}

/*
Estilos de los enlaces del menu principal
*/

#menuPrincipal a{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*Margen interior izquierdo*/
    padding-left: 11px;
    /*Margen interior derecho*/
    padding-right: 11px;
}

/*
Estilos de los enlaces de el menu desplegable
*/

#menuPrincipal ul li ul li{
    /*Color de fondo*/
    background: #c2eaed;
}

/*
Estilos para aplicar color al pasar por un enlace del submenu
*/

#menuPrincipal ul li ul li a:hover{
    /*Color de fondo*/
    background: #daeced;
}

/*
Estilos de la lista de opciones del menu principal
*/

#menuPrincipal ul{
    /*Desaparecer puntos de listas*/
    list-style: none;
}

/*
Estilos de los enlances directos del menu principal
*/

#menuPrincipal > li{
    /*Flotar hacia la izquierda*/
    float: left;
}

/*
Estilos para ocultar el submenu
*/

#menuPrincipal li ul{
    /*No dar comportamiento de bloque*/
    display: none;
    /*Dar posicion fija a las listas*/
    position: absolute;
}

/*
Estilos para aparecer el submenu al pasar por encima
*/

#menuPrincipal li:hover > ul{
    /*Dar comportamiento de bloque*/
    display: block;
}

/*
Estilos de cada elemento del menu principal
*/

#menuPrincipal ul li{
    /*Altura de linea*/
    line-height: 35px;
    /*Flotar hacia la izquierda*/
    float: left;
}

/*Estilo del la ultima seccion de submenus*/

#menuPrincipal ul li ul li{
    /*Flotar hacia la izquierda*/
    float: none;
}

/*
Estilos de la cabecera
*/

#cabecera{
    /*Altura*/
    height: auto;
    /*Color de fondo*/
    background: #f0f0f0;
}

/*
Estilos de la barra de categorias
*/

#categorias{
    /*limpiar flotados*/
    clear: both;
    /*Color de fondo*/
    background: #222;
    /*Color de letra*/
    color: #01b1ea;
    /*Altura*/
    height: 55px;
    /*Borde inferior*/
    border-bottom: 4px solid #01b1ea;
}

/*
Estilos de los enlaces la barra de categorias
*/

#categorias a{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Color de letra*/
    color: white;
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*Margen interior izquierdo*/
    padding-left: 11px;
    /*Margen interior derecho*/
    padding-right: 11px;
    /*Transicion*/
    transition: all 300ms;
}

/*
Estilos de los enlaces la barra de categorias, primer elemento (inicio)
*/

#categorias a:first-child{
    /*Borde derecho*/
    border-left: 1px solid #363636;
}

/*
Estilo al posicionarse en alguna categoria
*/

#categorias a:hover{
    /*Color de fondo*/
    background: #01b1ea;
}

/*
Estilos de la lista de enlaces la barra de categorias
*/

#categorias ul{
    /*No tenga los puntos de la lista*/
    list-style: none;
    /*Margen centrado*/
    margin: 0px auto;
    /*Margen izquierdo*/
    margin-left: 25px;
}

/*
Estilos de cada elemento de la barra de categorias
*/

#categorias ul li{
    /*Altura de linea*/
    line-height: 55px;
    /*Flotar hacia la izquierda*/
    float: left;
    /*Borde derecho*/
    border-right: 1px solid #363636;
}

/*
Estilos del contenido central
*/

#contenidoCentral{
    /*Color de fondo*/
    background: #f0f0f0;
    /*Anchor*/
    width: 96.4%;
    /*Flotar hacia la derecha*/
    float: right;
    /*Margen interior*/
    padding: 20px;
}

/*
Estilos del titulo de contenido central
*/

#contenidoCentral h1{
    /*Tamaña de la fuente del texto*/
    font-size: 35px;
    /*Texto normal*/
    font-weight: normal;
    /*Texto alineado al centro*/
    text-align: center;
    /*Margen inferior*/
    margin-bottom: 20px;
    /*Margen interior*/
    padding: 20px;
}

/*
Estilo de cada videojuego
*/

.videojuego{
    /*Color de fondo*/
    background: white;
    /*Anchor*/
    width: 25%;
    /*Borde*/
    border: 1px solid #ccc;
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen izquierdo*/
    margin-left: 44px;
    /*Margen derecho*/
    margin-right: 44px;
    /*Margen inferior*/
    margin-bottom: 22px;
    /*Margen superior*/
    margin-top: 40px;
    /*Texto alineado al centro*/
    text-align: center;
}

/*
Estilo de cada videojuego del buscador
*/

.videojuegoBusqueda{
    /*Color de fondo*/
    background: white;
    /*Anchor*/
    width: 75%;
    /*Borde*/
    border: 1px solid #ccc;
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen izquierdo*/
    margin-left: 140px;
    /*Margen inferior*/
    margin-bottom: 35px;
    /*Margen superior*/
    margin-top: 5px;
    /*Texto alineado al centro*/
    text-align: center;
}

/*
Estilo de la imagen del videojuego que se presenta en el catalogo, al inicio
*/

.videojuego img{
    /*Altura*/
    height: 125px;
    /*Anchor*/
    width: 115px;
    /*Margen inferior*/
    margin-bottom: 10px;
    /*Margen superior*/
    margin-top: 10px;
}

/*
Estilo de la imagen del videojuego que se presenta en el catalogo, al inicio dek buscadir
*/

.videojuegoBusqueda img{
    /*Flotar a la izquierda*/
    float: left;
    /*Altura*/
    height: 145px;
    /*Anchor*/
    width: 135px;
    /*Margen inferior*/
    margin-bottom: 10px;
    /*Margen superior*/
    margin-top: 10px;
    /*Margen izquierdo*/
    margin-left: 40px;
}

/*
Estilo del titulo del videojuego dek catalogo
*/

.videojuego h2{
    /*Tamaña de la fuente del texto*/
    font-size: 18px;
    /*Margen inferior*/
    margin-bottom: 10px;
}

/*
Estilo del titulo del videojuego del buscador
*/

.videojuegoBusqueda h2{
    /*Margen superior*/
    margin-top: 25px;
    /*Tamaña de la fuente del texto*/
    font-size: 18px;
    /*Margen inferior*/
    margin-bottom: 25px;
}

/*
Estilo del precio del videojuego del catalogo
*/

.videojuego p{
    /*Margen inferior*/
    margin-bottom: 15px;
    /*Color del texto*/
    color: #555;
    /*Texto en negrita*/
    font-weight: bold;
}

/*
Estilo del precio del videojuego del buscador
*/

.videojuegoBusqueda p{
    /*Margen superior*/
    margin-top: 25px;
    /*Margen inferior*/
    margin-bottom: 25px;
    /*Color del texto*/
    color: #555;
    /*Texto en negrita*/
    font-weight: bold;
}

/*
Estilo del boton de videojuego del catalogo
*/

.videojuego a{
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*Color del texto*/
    color: white;
}

/*
Estilo del boton de videojuego de buscador
*/

.videojuegoBusqueda a{
    /*Magin superior*/
    margin-top: 20px;
    /*Anchor*/
    width: 240px;
    text-decoration: none;
}

/*
Estilo del titulo del buscador
*/

#busqueda h1{
    /*Magin superior*/
    margin-top: 30px;
    /*Magin inferior*/
    margin-bottom: 30px;
    /*Texto alineado*/
    text-align: center;
}

/*
Estilos del pie de pagina
*/

#pieDePagina{
    /*limpiar flotados*/
    clear: both;
    /*Texto alineado al centro*/
    text-align: center;
    /*Margen interior izquierdo*/
    padding-top: 10px;
    /*Margen interior izquierdo*/
    padding-bottom: 10px;
    /*Color del texto*/
    color: white;
    /*Color de fondo*/
    background: #222222;
    /*Borde superior*/
    border-top: 4px solid #01b1ea;
}

/*
Estilos de los botones
*/

input[type="button"],
input[type="submit"],
button, .button{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Borde redondo*/
    border-radius: 2px;
    /*Anchor*/
    width: auto;
    /*Margen interior*/
    padding: 5px;
    /*Color del texto*/
    color: white;
    /*Color de fondo*/
    background: #2979cd;
    /*Borde*/
    border: 1px solid #11608e;
    /*Cambiar apariencia del cursor*/
    cursor:pointer;
}

/*
Estilos del boton ver detalle
*/

.button-comprarCatalogo{
    /*Color del letra*/
    color: white;
    /*Color de fondo*/
    background: #33ae3d;
    /*Borde*/
    border: 1px solid green;
}

/*
Estilos del boton ver detalle
*/

.button-actualizarVideojuego{
    width: 70px;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    /*Color del letra*/
    color: white !important;
    /*Color de fondo*/
    background: orange;
    /*Borde*/
    border: 1px solid rgb(101, 85, 4);
}

.button-generarPdf{
    width: 70px;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    /*Color del letra*/
    color: white !important;
    /*Color de fondo*/
    background: #2979cd;
    /*Borde*/
    border: 1px solid rgb(101, 85, 4);
}

/*
Estilos del boton ver detalle
*/

.button-eliminarVideojuego{
    float: unset;
    text-align: center;
    width: 70px;
    /*Color del letra*/
    color: white !important;
    /*Color de fondo*/
    background: red;
    text-decoration: none;
    /*Borde*/
    border: 1px solid rgb(91, 22, 4);
}

/*
Estilos del boton ver todos los videojuegos
*/

#verTodos a{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Borde redondo*/
    border-radius: 2px;
    /*Margen interior*/
    padding: 15px;
    /*Color de letra*/
    color: white;
    /*Color de fondo*/
    background: #007EE5;
    /*Borde*/
    border: 1px solid #156785;
    /*Cambiar apariencia del cursor*/
    cursor: pointer;
    /*Anchor*/
    width: 183px;
    /*Margen centrado*/
    margin: 0px auto;
    /*Margen superior*/
    margin-top: 640px;
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*Margen inferior*/
    margin-bottom: 22px;
}

/*
Estilos del formulario de registro de usuario
*/

#loginYRegistro h1{
    /*Texto alineado al centro*/
    text-align: center;
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

#loginYRegistro h2{
    /*Texto alineado al centro*/
    text-align: center;
    /*Margen superior*/
    margin-top: 30px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

#loginYRegistro h3{
    margin-left: 50px;
    /*Margen superior*/
    margin-top: 30px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

/*
Estilos de la imagen del registro de usuario
*/

#loginYRegistro img{
    /*Altura*/
    height: 250px;
    /*Flotar hacia la derecha*/
    float: right;
    /*Margen derecho*/
    margin-right: 125px;
}

/*
Estilos del boton de login y registro de usuario
*/

#loginYRegistro input[type="submit"]{
    /*Altura*/
    width: 150px;
    /*Margen centrado*/
    margin: 0px auto;
    /*Margen inferior*/
    margin-bottom: 30px;
}

/*
Estilo particular del boton de login
*/

.btnLogin{
    /*Margen superior*/
    margin-top: 105px !important;
}

/*
Estilo particular del boton de registro de usuario
*/

.btnRegistro{
    /*Margen superior*/
    margin-top: 30px;
}

/*
Estilo particular de la imagen del login
*/

.loginImage{
    /*Margen superior*/
    margin-top: 0px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

/*
Estilo particular de la imagen del registro de usuario
*/

.registerImage{
    /*Margen superior*/
    margin-top: 140px;
}

/*
Estilo particular de la imagen al vender un videojuego
*/

.envioImage{
    /*Margen superior*/
    margin-top: 100px;
}

/*
Estilo particular de la imagen de direccion al comprar un videojuego
*/

.pagoImage{
    /*Margen superior*/
    margin-top: 90px;
}

/*
Estilo particular de la imagen de pago al comprar un videojuego
*/

.ventaImage{
    /*Margen superior*/
    margin-top: 140px;
}

/*
Estilo particular de la imagen del registro de usuario
*/

.perfilImage{
    /*Margen superior*/
    margin-top: 50px;
}

/*
Estilos del formulario de registro de usuario
*/

#bloqueTextoLogin{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
    /*Margen izquierdo*/
    margin-left: 140px;
}

/*
Estilos del formulario de login
*/

#bloqueTextoRegistro{
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
    /*Margen izquierdo*/
    margin-left: 125px;
}

/*
Estilos de los labels del formulario de registro de usuario
*/

#bloqueTextoRegistro label{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Margen inferior*/
    margin-bottom: 5px;
    /*Tamaño de la fuente del texto*/
    font-size: 25px;
}

/*
Estilos de los labels del formulario de login
*/

#bloqueTextoLogin label{
    /*Dar comportamiento de bloque*/
    display: block;
    /*Margen inferior*/
    margin-bottom: 5px;
    /*Tamaño de la fuente del texto*/
    font-size: 25px;
}

/*
Estilos de los inputs del formulario de login
*/

#bloqueTextoLogin input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    /*Altura*/
    height: 25px;
    /*Anchor*/
    width: 400px;
}

/*
Estilos de los inputs del formulario de registro de usuario
*/

#bloqueTextoRegistro input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"]{
    /*Altura*/
    height: 25px;
    /*Anchor*/
    width: 400px;
}

/*
Estilos pagina no existe
*/

#paginaNoEncontrada{
    /*Margen izquierdo*/
    margin-left: 300px;
}

/*
Estilo titulo pagina no existe
*/

#paginaNoEncontrada h1{
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

/*
Estilo imagen pagina no existe
*/

#paginaNoEncontrada img{
    float: left;
}

#paginaNoEncontrada a{
    /*Margen superior*/
    margin-top: 30px;
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*FLotar hacia la derecha*/
    float: right;
    /*Margen derecho*/
    margin-right: 50px;
}

/*
Estilo del detalle del videojuego
*/

.detalleVideojuego{
    /*Anchor*/
    width: 95%;
    /*Margen superior*/
    margin-top: 30px;
}

/*
Estilo de la imagen del detalle del videojuego
*/

.detalleVideojuego img{
    /*Margen izquierdo*/
    margin-left: 75px;
    /*Margen derecho*/
    margin-right: 75px;
    /*Margen inferior*/
    margin-bottom: 20px;
    /*Dar comportamiento de bloque*/
    display: block;
    /*Flotar hacia la izquierda*/
    float: left;
    /*Anchor*/
    width: 35%;
}

/*
Estilo del titulo del videojuego del detalle del videojuego
*/

.detalleVideojuego #tituloVideojuego{
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo del precio del videojuego del detalle del videojuego
*/

.detalleVideojuego #precioVideojuego{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
    /*Color de letra*/
    color: green;
}

/*
Estilo del tipo de consola del videojuego del detalle del videojuego
*/

.detalleVideojuego #consolaVideojuego{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo del tipo de categoria del videojuego del detalle del videojuego
*/

.detalleVideojuego #categoriaVideojuego{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo de las unidades del videojuego del detalle del videojuego
*/

.detalleVideojuego #unidadesDisponiblesVideojuego{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo del titulo de la descripcion del videojuego del detalle del videojuego
*/

.detalleVideojuego #descripcionVideojuegoTitulo{
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo del contenido de la descripcion del videojuego del detalle del videojuego
*/

.detalleVideojuego #descripcionVideojuegoTexto{
    /*Margen superior*/
    margin-top: 40px;
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo de los campos de texto del detalle del videojuego
*/

.detalleVideojuego input{
    /*Margen superior*/
    margin-top: 10px;
    /*Margen inferior*/
    margin-bottom: 47px;
}

/*
Estilo del vendedor del videojuego del detalle del videojuego
*/

.detalleVideojuego #vendedorVideojuego{
    /*Margen superior*/
    margin-top: 50px;
    /*Margen inferior*/
    margin-bottom: 50px;
}

/*
Estilo de los botonos del detalle del videojuego
*/

.botonesDetalleVideojuego{
    /*Margen inferior*/
    margin-bottom: 40px;
}

/*
Estilo de los enlaces de los botonos del detalle del videojuego
*/

.botonesDetalleVideojuego a{
    /*Margen derecho*/
    margin-right: 20px;
    /*Borde redondo*/
    border-radius: 2px;
    /*Anchor*/
    width: auto;
    /*Margen interior*/
    padding: 8px;
    /*Color del texto*/
    color: white;
    /*Color de fondo*/
    background: #2979cd;
    /*Borde*/
    border: 1px solid #11608e;
    /*Cambiar apariencia del cursor*/
    cursor:pointer;
    /*Sin decoracion en el texto*/
    text-decoration: none;
}

/*
Estilo de la descripcion del videojuego
*/

.descripcionVideojuego{
    /*Margen izquierdo*/
    margin-left: 75px;
}

/*
Estilo de la imagen del carrito
*/

.imgCarrito{
    /*Altura*/
    height: 80px;
    /*Dar comportamiento de bloque*/
    display: block;
    /*Margen*/
    margin: 10px auto; 
}

/*
Estilo de la tabla
*/

table{
    /*Texto centrado*/
    text-align: center;
    /*Anchor*/
    width: 100%;
    /*Borde inferior*/
    border-bottom: 1px solid #CCC;
}

/*
Estilo de los elementos de la tabla
*/

td{
    /*Border superior*/
    border-top: 1px solid #CCC;
    /*Margen interior*/
    padding: 2px;
}

/*
Estilo del carrito
*/

#carrito{
    /*Margen*/
    margin: 40px;
}

/*
Estilo del titulo del carrito
*/

#carrito h1{
    /*Titulo alineado al centro*/
    text-align: center;
    /*Margen inferior*/
    margin-bottom: 30px;
}

/*
Estilo de la estadistica del carrito
*/

#estadisticasCarrito{
    /*Margen superior*/
    margin-top: 30px;
}

/*
Estilo de los enlaces de la estadistica del carrito
*/

#estadisticasCarrito a{
    /*Flotar hacia la derecha*/
    float: right;
    /*Margen inferior*/
    margin-bottom: 40px;
    /*Margen derecho*/
    margin-right: 20px;
    /*Borde redondo*/
    border-radius: 2px;
    /*Anchor*/
    width: auto;
    /*Margen interior*/
    padding: 8px;
    /*Color del texto*/
    color: white;
    /*Color de fondo*/
    background: #2979cd;
    /*Borde*/
    border: 1px solid #11608e;
    /*Cambiar apariencia del cursor*/
    cursor:pointer;
    /*Quitar decoracion del texto*/
    text-decoration: none;
}

/*
Estilo del titulo de la estadistica del carrito
*/

#estadisticasCarrito h3{
    /*Flotar hacia la derecha*/
    float: left;
    /*Margen izquierdo*/
    margin-left: 50px;
    /*Margen derecho*/
    margin-right: 40px;
}

/*
Estilo del select de registro
*/

#bloqueTextoRegistro select{
    /*Anchor*/
    width: 403px;
    /*Altura*/
    height: 30px;
}

/*
Estilo del text area de registro
*/

#bloqueTextoRegistro textarea{
    /*Anchor*/
    width: 400px;
    /*Altura*/
    height: 100px;
}

/*
Estilos de la compra cuando se ha relizado de forma exitosa
*/

#compraExitosa{
    /*Margen izquierdo*/
    margin-left: 300px;
}

/*
Estilos del titulo de la compra cuando se ha relizado de forma exitosa
*/

#compraExitosa h1{
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
}

/*
Estilos de la imagen de ir a inicio de la compra cuando se ha relizado de forma exitosa
*/

.imagenCasaInicio{
    /*Altura*/
    height: 50px;
}

/*
Estilos del titulo de la imagen cuando se ha relizado de forma exitosa
*/

#compraExitosa img{
    /*Flotar hacia la izquierda*/
    float: left;
}

/*
Estilos del enlace de ir al inicio cuando se ha relizado de forma exitosa
*/

#compraExitosa a{
    /*Margen superior*/
    margin-top: 30px;
    /*Sin decoracion de texto*/
    text-decoration: none;
    /*FLotar hacia la derecha*/
    float: right;
    /*Margen derecho*/
    margin-right: 50px;
}

/*
Estilos del texto de ir a inicio de la compra cuando se ha relizado de forma exitosa
*/

#compraExitosa p{
    /*Tamaño de letra*/
    font-size: 20px;
    /*Espacio entre cada letra*/
    letter-spacing: 1px;
}

/*
Estilo de la tabla de compras y ventas
*/

comprasYVentas table{
    /*Texto centrado*/
    text-align: center;
    /*Anchor*/
    width: 100%;
    /*Borde inferior*/
    border-bottom: 1px solid #CCC;
}

/*
Estilo de los elementos de compras y ventas
*/

comprasYVentas td{
    /*Border superior*/
    border-top: 1px solid #CCC;
    /*Margen interior*/
    padding: 12px;
}

/*
Estilo de las listas de compras y ventas
*/

#comprasYVentas{
    /*Margen*/
    margin: 40px;
}

/*
Estilo del titulo de compras y ventas
*/

#comprasYVentas h1{
    /*Titulo alineado al centro*/
    text-align: center;
    /*Margen inferior*/
    margin-bottom: 30px;
}

#detalleCompraYVenta{
    margin-top: 50px;
    margin-left: 75px;
}

#detalleCompraYVenta h1{
    margin-bottom: 55px;
    text-align: center;
}

#detalleCompraYVenta a{
    font-size: 14px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    width: 105px;
    padding: 2px;
}

.generarPdf{
    font-size: 14px;
    margin-top: 20px;
    color: black !important;
    text-decoration: none;
    width: 105px;
    padding: 2px;
}

#detalleCompraYVenta h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

#detalleCompraYVenta h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

#detalleCompraYVenta h4{
    margin-top: 15px;
    margin-bottom: 35px;
}

#detalleCompraYVenta p{
    float: left;
}

/*
Estilo de cada videojuego del buscador
*/

.videojuegoCompraYVenta{
    /*Color de fondo*/
    background: white;
    /*Anchor*/
    width: 16%;
    /*Borde*/
    border: 1px solid #ccc;
    /*Flotar hacia la izquierda*/
    float: left;
    /*Margen inferior*/
    margin-bottom: 35px;
    /*Margen superior*/
    margin-right: 30px;
    /*Texto alineado al centro*/
    text-align: center;
}

/*
Estilo de la imagen del videojuego que se presenta en el catalogo, al inicio dek buscadir
*/

.videojuegoCompraYVenta img{
    /*Flotar a la izquierda*/
    float: left;
    /*Altura*/
    height: 145px;
    /*Anchor*/
    width: 135px;
    /*Margen inferior*/
    margin-bottom: 5px;
    /*Margen superior*/
    margin-top: 5px;
    /*Margen izquierdo*/
    margin-left: 17px;
}

.buttoneliminarCarrito{
    text-decoration: none;
    color: white !important;
    border: 1px solid #222;
    background: red !important;
    margin-right: 85px !important;
}

.buttonAumentarCarrito{
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    color: white !important;
    border: 1px solid black;
    background: #5d5e5c;
    margin-left: 20px;
}

.buttonDisminuirCarrito{
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white !important;
    border: 1px solid black;
    background: #5d5e5c;
    margin-right: 20px;
}

#loginYRegistro input[type="file"]{
    float: right;
    margin-right: 70px;
    margin-left: 10px;
}

.subirFotoPerfil{
    float: right;
}