<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Juegos</title>
    <link rel="stylesheet" href="Recursos/CSS/Hoja.css">
</head>
<body>

    <div id="contenedor">

        <!-- SECCION CABECERA -->

        <header id="cabecera">
            <div id="titulo">
                <img src="Recursos/Logotipos/Logo.png" alt="Logo tienda">
                <h1>MERCADO JUEGOS</h1>
            <div id="buscador">
                <input type="text" placeholder="Busca un videojuego">
                <a href="<?=rutaInicio?>/?controller=VideojuegoController&action=buscar"><img src="Recursos/Logotipos/lupa.png" alt="Logo tienda"></a>
            </div>
            </div>
            <div id="menuPrincipal">
                <ul>
                    <li><a href="<?=rutaInicio?><?=usuario?><?=login?>">Login</a></li>
                    <li><a href="<?=rutaInicio?><?=usuario?><?=registro?>">Registro</a></li>
                    <li><a href="<?=rutaInicio?><?=carrito?><?=ver?>">Carrito</a></li>
                    <li><img src="Recursos/Logotipos/usuario.png" alt="Logo tienda">User</a>
                        <ul>
                            <li><a href="<?=rutaInicio?>/?controller=UsuarioController&action=perfil">Mi perfil</a></li>
                            <li><a href="<?=rutaInicio?>/?controller=VideojuegoController&action=crear">Vender</a></li>
                            <li><a href="<?=rutaInicio?>/?controller=UsuarioController&action=compras">Mis Compras</a></li>
                            <li><a href="<?=rutaInicio?>/?controller=UsuarioController&action=ventas">Mis Ventas</a></li>
                            <li><a href="">Cerrar sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>