<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Juegos</title>
    <link rel="stylesheet" href="Recursos/CSS/Hoja.css">
</head>
<body>
    <div id="contenedor">

        <!-- SECCION CABECERA -->

        <header id="cabecera">
            <div id="titulo">
                <img src="Recursos/Logotipos/Logo.png" alt="Logo tienda">
                <h1>MERCADO JUEGOS</h1>
            </div>
            <?php if(!isset($_SESSION['login_exitosoa'])) : ?>
                <form action="<?=rutaInicio?><?=videojuego?><?=buscar?>" method="post">
                    <div id="buscador">
                        <input type="text" placeholder="Busca un videojuego" name="nombrebus" required>
                        <input type="image" src="Recursos/Logotipos/lupa.png" alt="Logo tienda">
                    </div>
                </form>
            <?php endif; ?> 
            <div id="menuPrincipal">
                <ul>
                    <?php if(isset($_SESSION['login_exitoso']) || isset($_SESSION['login_exitosoa'])) : ?>
                        <?php if(isset($_SESSION['login_exitosoa']) && !(isset($_SESSION['login_exitoso']))) : ?>
                            <li><img src="Recursos/ImagenesAdministradores/<?=$_SESSION['login_exitosoa'] -> foto?>" alt="Logo usuario">Hola!, Alexandra</a>
                            <li><a href="<?=rutaInicio?><?=administrador?><?=miPerfil?>">Mi perfil</a></li>
                        <?php elseif(isset($_SESSION['login_exitoso']) && !(isset($_SESSION['login_exitosoa']))) : ?>
                            <li>
                                <a href="<?=rutaInicio?><?=carrito?><?=ver?>">
                                    <img src="Recursos/Logotipos/Carrito.png" alt="Logo carrito">
                                </a>
                            </li>
                            <li>
                                <img src="Recursos/ImagenesUsuarios/<?=$_SESSION['login_exitoso'] -> foto?>" alt="Logo usuario">Hola!, <?=$_SESSION['login_exitoso'] -> nombre?></a>
                            <ul>
                                <li><a href="<?=rutaInicio?><?=usuario?><?=miPerfil?>">Mi perfil</a></li>
                                <li><a href="<?=rutaInicio?><?=mensaje?><?=chats?>">Mis Chats</a></li>
                                <li><a href="<?=rutaInicio?><?=videojuego?><?=crear?>">Vender</a></li>
                                <li><a href="<?=rutaInicio?><?=usuario?><?=videojuegos?>">Mis Videojuegos</a></li>
                                <li><a href="<?=rutaInicio?><?=usuario?><?=compras?>">Mis Compras</a></li>
                                <li><a href="<?=rutaInicio?><?=usuario?><?=ventas?>">Mis Ventas</a></li>
                        <?php endif; ?>
                                <li><a href="<?=rutaInicio?><?=usuario?><?=logout?>">Cerrar sesion</a></li>
                            </ul>
                        </li>
                    <?php else : ?>
                        <li><a href="<?=rutaInicio?><?=usuario?><?=login?>">Login</a></li>
                        <li><a href="<?=rutaInicio?><?=usuario?><?=registro?>">Registro</a></li>
                    <?php endif; ?> 
                </ul>
            </div>
        </header>