<?php if(isset($_SESSION['login_exitosoinfo']) && $_SESSION['login_exitosoinfo'] == 'Bienvenido Usuario') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['login_exitosoinfo']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('login_exitosoinfo'); ?>

<?php if(isset($_SESSION['usuarioactualizado']) && $_SESSION['usuarioactualizado'] == 'El usuario ha sido actualizado exitosamente') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['usuarioactualizado']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('usuarioactualizado'); ?>

<?php if(isset($_SESSION['usuarioactualizado']) && $_SESSION['usuarioactualizado'] == 'Ha ocurrido un error al actualizar el usuario') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['usuarioactualizado']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('usuarioactualizado'); ?>

<?php if(isset($_SESSION['logincerrado']) && $_SESSION['logincerrado'] == 'Sesion cerrada con exito') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['logincerrado']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('logincerrado'); ?>

<?php if(isset($_SESSION['caducidad']) && $_SESSION['caducidad'] == 'La sesion ha expirado') : ?>
    <div class="alerta alerta-sugerencia">
        <?=$_SESSION['caducidad']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('caducidad'); ?>

<?php if(isset($_SESSION['RegistroVideojuego']) && $_SESSION['RegistroVideojuego'] == 'Videojuego creado con exito') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['RegistroVideojuego']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('RegistroVideojuego'); ?>

<?php if(isset($_SESSION['usuarioeliminado']) && $_SESSION['usuarioeliminado'] == 'El usuario ha sido eliminado exitosamente') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['usuarioeliminado']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('usuarioeliminado'); ?>

<?php if(isset($_SESSION['admineliminado']) && $_SESSION['admineliminado'] == 'El administrador ha sido eliminado exitosamente') : ?>
    <div class="alerta alerta-acierto">
        <?=$_SESSION['admineliminado']; ?>
    </div>
<?php endif; ?>
<?php Ayudas::eliminarSesion('admineliminado'); ?>

<div id="contenidoCentral">
    <?php if(mysqli_num_rows($listadoAlgunos) <= 5) : ?>
        <h1>Todos los Videojuegos</h1>
    <?php elseif(mysqli_num_rows($listadoAlgunos) > 6) : ?>
        <h1>Algunos Videojuegos</h1>
    <?php else : ?>
        <h1>No hay Videojuegos</h1>
    <?php endif; ?>
<hr>
    <!-- SECCION VIDEOJUEGOS -->

    <div id="catalogo">
        <?php while($listado = $listadoAlgunos -> fetch_object()) : ?>
            <div class="videojuego">
                <img src="Recursos/ImagenesVideojuegos/<?=$listado -> foto?>" alt="Videojuego">
                <h2><?=$listado -> nombre?></h2>
                <p>$ <?=$listado -> precio?></p>
                <a href="<?=rutaInicio?><?=videojuego?><?=detalle?>&id=<?=$listado -> id?>" class="button button-comprarCatalogo">Ver ahora</a>
            </div>
        <?php endwhile; ?>
    </div>
    <div id="verTodos">
        <?php if(mysqli_num_rows($listadoAlgunos) > 6) : ?>
            <a href="<?=rutaInicio?><?=videojuego?><?=todos?>">Ver todos los videojuegos</a>
        <?php endif; ?>
    </div>
</div>