<div id="contenidoCentral">
    <h1>Algunos videojuegos</h1>

    <!-- SECCION VIDEOJUEGOS -->

    <div id="catalogo">
        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/i.jpg" alt="Videojuego">
            <h2>Injustice</h2>
            <p>$COP 340000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/codmw2.jpg" alt="Videojuego">
            <h2>Call Of Duty Modern Warfare 2</h2>
            <p>$COP 540000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/dbzk.png" alt="Videojuego">
            <h2>Dragon Ball Z Kakarot</h2>
            <p>$COP 200000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/f22.jpeg" alt="Videojuego">
            <h2>Fifa 22</h2>
            <p>$COP 230000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/gta5.jpg" alt="Videojuego">
            <h2>GTA V</h2>
            <p>$COP 140000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        <div class="videojuego">
            <img src="Recursos/ImagenesVideojuegos/rdr2.jpg" alt="Videojuego">
            <h2>Red Dead Redemption 2</h2>
            <p>$COP 77000</p>
            <a href="http://localhost/Mercado-Juegos/?controller=VideojuegoController&action=detalle" class="button button-comprarCatalogo">Ver ahora</a>
        </div>

        

       
        
    </div>
    <div id="verTodos">
        <a href="">Ver todos los videojuegos</a>
    </div>
</div>