<?php if(isset($_SESSION['login_exitoso']) || !isset($_SESSION['login_exitoso']) && !isset($_SESSION['administrar'])) : ?>
    <!-- SECCION MENU DE CATEGORIAS -->

    <nav id="categorias">
        <ul>
            <li>
                <a href="<?=rutaInicio?><?=videojuego?><?=inicio?>">Inicio</a>
            </li>
            <?php $listadoCategorias = Ayudas::mostrarCategorias(); ?>
            <?php while($categorias = $listadoCategorias -> fetch_object()) : ?>
                <li>
                    <a href=""><?=$categorias -> nombre?></a>
                </li>
            <?php endwhile; ?>
        </ul>
    </nav>
<?php else : ?>
<?php endif; ?>