<?php if(isset($_SESSION['loginexitoso']) || !isset($_SESSION['loginexitoso']) && !isset($_SESSION['loginexitosoa'])) : ?>
    <!-- SECCION MENU DE CATEGORIAS -->
    <nav id="filtro">
        <ul>
            <li>
                <form action="<?=rutaInicio?><?=videojuego?><?=filtro?>" method="post">
                    <?php $listadoCategorias = Ayudas::mostrarCategorias(); ?>
                    <li>
                    <label for="categoriavid">Categoria</label>
                    <select name="categoriavid" id="categoriavid">
                        <option value=null></option>
                        <?php while($categorias = $listadoCategorias -> fetch_object()) : ?>
                            <option value="<?=$categorias -> id?>"><?=$categorias -> nombre?></option>
                        <?php endwhile; ?>
                    </select>
                </li>
                <li>
                    <?php $listadoUsos = Ayudas::mostrarUsos(); ?>
                    <label for="usovid">Uso</label>
                    <select name="usovid" id="usovid">
                        <option value="null"></option>
                        <?php while($usos = $listadoUsos -> fetch_object()) : ?>
                            <option value="<?=$usos -> id?>"><?=$usos -> nombre?></option>
                        <?php endwhile; ?>
                    </select>
                </li>
                <li>
                    <?php $listadConsolas = Ayudas::mostrarConsolas(); ?>
                    <label for="consolavid">Consola</label>
                    <select name="consolavid" id="consolavid">
                        <option value="null"></option>
                        <?php while($consolas = $listadConsolas -> fetch_object()) : ?>
                            <option value="<?=$consolas -> id?>"><?=$consolas -> nombre?></option>
                        <?php endwhile; ?>
                    </select>
                </li>
                <li>
                    <label for="minimo">Minimo</label>
                    <input type="number" name="minimo" min="1000" step="1000" placeholder="$" value="">
                </li>
                <li>
                    <label for="maximo">Maximo</label>
                    <input type="number" name="maximo" min="1000" step="1000" placeholder="$" value="">
                </li>
                <li>
                    <input type="submit" value="Aplicar filtro">
                </li>
                </form>
            </li>
        </ul>
    </nav>
<?php else : ?>
<?php endif; ?>